<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Jdbc.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>Jdbc.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Attendance</servlet-name>
        <servlet-class>Jdbc.Attendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Message</servlet-name>
        <servlet-class>Jdbc.Message</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>Jdbc.Report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>report</servlet-name>
        <servlet-class>Jdbc.report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>Jdbc.Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>Jdbc.SendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailDispatcherservlet</servlet-name>
        <servlet-class>Jdbc.MailDispatcherservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Attendance</servlet-name>
        <url-pattern>/Attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Message</servlet-name>
        <url-pattern>/Message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>report</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/SendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailDispatcherservlet</servlet-name>
        <url-pattern>/MailDispatcherservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Signup.jsp</welcome-file>
    </welcome-file-list>
</web-app>
